<tr>
  <td width="3%">
    <%= gravatar_for user, size: 50 %>
  </td>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "delete", user, method: :delete,
       data: { confirm: "你确定删除吗?" }, class: 'btn btn-danger' %>
    <% end %>
  </td>
</tr>
